

<h1>Create Customers</h1>

<form asp-action="Create">
    First Name: <input type="text" name="FirstName" />
    Last Name: <input type="text" name="LastName" />
    SSN: <input type="text" name="SSN" />
    <input type="submit" value="Create Customer" />
</form>