@model Customer

<h1>Delete Customers</h1>
<div>
    Id:
    @Html.DisplayFor(model => model.Id)
    <br />
    First Name:
    @Html.DisplayFor(model => model.FirstName)
    <br />
    Last Name:
    @Html.DisplayFor(model => model.LastName)
    <br />
    SSN:
    @Html.DisplayFor(model => model.SSN)
    <br />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

</div>
