@model Customer

<h1>Customers Details</h1>

Id:
@Html.DisplayFor(model => model.Id)
<br />
First Name:
@Html.DisplayFor(model => model.FirstName)
<br />
Last Name:
@Html.DisplayFor(model => model.LastName)
<br />
SSN:
@Html.DisplayFor(model => model.SSN)
<br />